.gitconfig.local

.DS_Store
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
npm-debug.log

#Dev

.sass-cache
.tmp
node_modules
bower_components
.npm-debug.log
output
demo
config

#TX

output
tests

*.build.zip
*.sublime-workspace
