html{font-size:16px;line-height:1.5;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;}
body{-epub-hyphens:manual;-webkit-hyphens:manual;-moz-hyphens:manual;-ms-hyphens:manual;hyphens:manual;color:#333;font-family:Segoe UI,Roboto,Droid Sans,Helvetica Neue,Helvetica,Calibri,Arial,sans-serif;-webkit-font-feature-settings:'liga' , 'kern';-moz-font-feature-settings:'liga' , 'kern';font-feature-settings:'liga' , 'kern';}
article,aside,canvas,figure,figcaption,footer,header,hgroup,nav,main,progress,section,summary{display:block;}
h1,h2,h3,h4,h5,h6{font-weight:bold;text-rendering:auto;page-break-after:avoid;-webkit-break-after:avoid;-moz-break-after:avoid;break-after:avoid;orphans:3;widows:3;}
h1{margin:24px 0 48px;margin:1.5rem 0 3rem;font-size:39.81312px;font-size:2.48832rem;line-height:1.20563;}
h2{margin:48px 0 24px;margin:3rem 0 1.5rem;font-size:33.1776px;font-size:2.0736rem;line-height:1.44676;border-bottom:2px solid #ccc;}
h3{margin:24px 0;margin:1.5rem 0;font-size:27.648px;font-size:1.728rem;line-height:1.17188;}
h3 a{color:#333;text-decoration:none;}
h3 a:hover,h3 a:active{color:#337ab7;text-decoration:underline;}
h4{margin:24px 0;margin:1.5rem 0;font-size:23.04px;font-size:1.44rem;line-height:1.30208;}
h5{margin:24px 0;margin:1.5rem 0;font-size:19.2px;font-size:1.2rem;line-height:1.25;}
h6{margin:24px 0;margin:1.5rem 0;font-size:16px;font-size:1rem;line-height:1.5;}
p,dl,ul,ol,pre,address,audio,video,table{margin:24px 0;margin:1.5rem 0;}
pre,code,samp,var,tt{font-family:Consolas,Monaco,Andale Mono,Courier New,Courier,Freemono,Nimbus Mono L,monospace;}
dt{margin:24px 0 12px;margin:1.5rem 0 0.75rem;font-weight:bold;}
dd{margin:12px 0 12px 1.5em;margin:0.75rem 0 0.75rem 1.5em;font-style:italic;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
li>ul,li>ol{margin:24px 0 24px 1.5em;margin:1.5rem 0 1.5rem 1.5em;}
li{margin:12px 0;margin:0.75rem 0;}
blockquote,em,cite,q,i{font-style:italic;}
var,strong,b,dfn,acronym,abbr,kbd,th{font-weight:bold;}
pre,code,samp,var{color:#d9534f;}
pre{overflow:hidden;padding:0 1.5em;white-space:pre-wrap;word-wrap:break-word;}
var{font-style:normal;}
blockquote,q{quotes:none;}
blockquote:before,q:before,blockquote:after,q:after{content:none;}
blockquote{margin:24px 3em;margin:1.5rem 3em;}
acronym,abbr,ins{text-decoration:none;cursor:help;}
acronym,abbr,ins,mark{border-bottom:1px dotted #337ab7;color:#337ab7;}
del,strike,s{text-decoration:line-through;}
acronym,abbr{margin:0 -.075em 0 0;letter-spacing:.075em;}
address{font-style:normal;}
del{border-bottom:1px dotted #eee;color:#eee;}
kbd{display:inline-block;height:22px;height:1.375rem;line-height:1.375;padding:0 .5em;border-radius:3px;background:#eee;background-clip:padding-box;font-weight:bold;font-family:Consolas,Monaco,Andale Mono,Courier New,Courier,Freemono,Nimbus Mono L,monospace;letter-spacing:.1em;vertical-align:top;}
sup,sub{font-size:12px;font-size:0.75rem;line-height:0;position:relative;}
sup{top:-.65em;}
sub{bottom:-.25em;}
big{font-size:33.1776px;font-size:2.0736rem;line-height:0;}
small{font-size:12px;font-size:0.75rem;line-height:0;}
u{text-decoration:underline;}
img{height:auto;max-width:100%;border:0;vertical-align:top;-ms-interpolation-mode:bicubic;}
caption{padding:0 0 12px;padding:0 0 0.75rem;font-weight:bold;text-align:left;}
td,th{padding:23px 15px 24px;padding:1.4375rem 15px 1.5rem;border:1px solid #eee;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
th{text-align:left;}
fieldset{display:block;padding:0;border:0;margin:0;}
legend{position:relative;left:-1.5em;padding:0 1.5em;font-weight:bold;}
hr{margin:24px 0;margin:1.5rem 0;display:block;height:0;padding:0;border-top:1px solid #333;}
::-moz-selection{color:#fff;background:#337ab7;}
::selection{color:#fff;background:#337ab7;}
a:focus,input:focus,select:focus,button:focus,textarea:focus{outline:1px dotted #eee;}
a,label,select,button,.button{-ms-touch-action:manipulation;touch-action:manipulation;}
a{color:#337ab7;text-decoration:underline;}
a:visited{color:#6f5499;}
a:hover{color:#d9534f;}
a:active{color:#23527c;}
label{cursor:pointer;}
input,select,button,textarea{margin:0;font-family:inherit;}
input,select,button{font-size:inherit;}
input,button,textarea{box-sizing:content-box;}
input,button{border:0;}
input::-moz-focus-inner,button::-moz-focus-inner{padding:0;border:0;}
select,button{text-transform:none;}
input,select{vertical-align:top;}
select,textarea,.field{border:1px solid #eee;}
input[type='radio'],input[type='checkbox']{box-sizing:border-box;vertical-align:middle;}
input[type='search'],input[type='number']{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[disabled],input[readonly],button[disabled],textarea[disabled],textarea[readonly]{opacity:.5;cursor:default;cursor:not-allowed;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#eee;opacity:1;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#eee;opacity:1;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#eee;opacity:1;}
input::placeholder,textarea::placeholder{color:#eee;opacity:1;}
input[type='file']{height:auto;border:0;}
input[type='number']::-webkit-inner-spin-button{-webkit-appearance:none;appearance:none;}
select{height:36px;height:2.25rem;vertical-align:top;}
select[multiple]{height:120px;height:7.5rem;}
button,.button{height:36px;height:2.25rem;padding:0 15px;cursor:pointer;}
textarea{height:214px;height:13.375rem;padding:6px 15px;padding:0.375rem 15px;display:block;overflow:auto;font-size:inherit;}
.field{height:34px;height:2.125rem;padding:0 15px;}
html{min-height:100%;-webkit-overflow-scrolling:touch;}
body{overflow-x:auto;overflow-y:scroll;-ms-overflow-style:-ms-autohiding-scrollbar;position:relative;box-sizing:border-box;max-width:45em;padding:0 30px;margin:0 auto;background:#fff;}
.card{margin:24px 0 48px;margin:1.5rem 0 3rem;}
.checklist{padding:0 30px 12px;padding:0 30px 0.75rem;overflow:hidden;background:#eee;}
.checklist dd{position:relative;}
.checklist dd:before{display:block;content:"";position:absolute;top:2px;right:100%;width:15px;height:15px;border:2px solid #337ab7;margin:0 5px 0 0;}
.checklist strike{position:relative;display:block;}
.checklist strike:before,.checklist strike:after{display:block;content:"";position:absolute;width:22px;height:2px;margin:0 4px 0 0;background:#337ab7;transform-origins:50% 50%;}
.checklist strike:before{top:10px;right:100%;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.checklist strike:after{top:11px;right:100%;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.attachments{padding:0 30px 12px;padding:0 30px 0.75rem;overflow:hidden;background:#eee;}
.attachments dd{font-style:normal;}
.image{margin:24px 0;margin:1.5rem 0;display:block;}
