/* Layout Base */

html {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  $body-maxWidth: ($desktop-min - $gap * 2);

  @include tx-set-boundaries(none, $body-maxWidth);
  @include tx-scroll-bar(true);
  position: relative;
  padding: 0 $gap;
  background: $background;
}



/* Images */

.image {
  @include tx-rhythm(1, 1);
  display: block;
}
